MOI.json
{
  "name": "MOI",
  "nodes": [
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "=1-A5g6DIxPbCBGMmjSHCdHVBwJxHzihR-LbdAcMQYB1o",
        "range": "MOI!A:F",
        "lookupColumn": "Village",
        "lookupValue": "={{$node[\"Code\"].json[\"titleCase\"]}}",
        "options": {
          "returnAllMatches": true
        }
      },
      "id": "c456735c-79a2-4f50-8b76-588c3b866884",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        1240,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "channel_post"
        ],
        "additionalFields": {}
      },
      "id": "b6012b7f-e99c-4b3d-a81d-bc40e9c324d8",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "webhookId": "80e14744-8e5f-437b-bf25-bcdbc5aeff3e",
      "credentials": {
        "telegramApi": {
          "id": "3",
          "name": "MOI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the Text and store into a variable called myText\nconst myText = $node[\"GETCOMMANDS\"].json[\"Vil\"];\n\n// Now using Regex we can replace every first letter of the Word to Uppercase\nconst titleCase = myText.replace(/(^\\w|\\s\\w)/g, m => m.toUpperCase());\n\n// Now return (output) the converted text\nreturn [{\n  json: { titleCase }\n}]"
      },
      "id": "380f43ea-42b2-40a3-be7a-eb2dfdd57090",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "={{$item(0).$node[\"Telegram Trigger1\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "={{$json[\"Name\"]}}  :  {{$json[\"Amount\"]}}",
        "additionalFields": {}
      },
      "id": "ce7ad004-a300-4308-b7b9-df1d352a020a",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1420,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "3",
          "name": "MOI"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Vil",
              "value": "={{$json[\"message\"][\"text\"].split(\"/\")[1]}}"
            }
          ],
          "number": [
            {
              "name": "chatid",
              "value": "={{$json[\"message\"][\"chat\"][\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "294f710b-2cc6-4601-bbca-81864d41a33d",
      "name": "GETCOMMANDS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "={{$item(0).$node[\"Telegram Trigger1\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "=================================",
        "additionalFields": {}
      },
      "id": "6d367dae-3584-446e-a283-e44806a53d91",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1040,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "3",
          "name": "MOI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "GETCOMMANDS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GETCOMMANDS": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "aeba05ae-f10c-4ca5-b23b-fd7a1f9a088f",
  "id": 5,
  "meta": {
    "instanceId": "58ee68d60517f9d2ac8f791fb763c92805f9c9a4daef7c20b9331d66a632c61f"
  },
  "tags": []
}